# Configs
.env*

# Compiled output
dist/
public/knowledge/
*.tsbuildinfo

# Other
node_modules/
tmp/
.vscode/
.idea/
*.log
*.bak
*~

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Custom scripts
deploy.sh
